#!/bin/sh

exec consul-template \
     -consul=consul:8500 \
     -template "/etc/consul-templates/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:sv hup haproxy"
